<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meadowlark Travel</title>
  </head>
  <body>
      <header>
        <img src="/img/lark.jpg" alt="a little lark" />
      </header>
      {{{body}}}
  </body>
</html>
